@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700;
  }

  h1 {
    @apply text-4xl pb-8;
  }

  h2 {
    @apply text-2xl pb-4;
  }

  h3 {
    @apply text-xl pb-4;
  }

  p {
    @apply text-lg pb-4 lg:w-8/12;
  }

  section {
    @apply py-4;
  }

  html, body, #root {
    @apply min-h-full h-full flex flex-col;
  }
}

/* Revisit with design */
.loader {
  border-top-color: blue;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@import './utilities.css';
